html {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    color: rgb(2, 2, 2);
    font-family: 'Lato', sans-serif;
}


body {
    margin-left: 1px;
    margin-right:7px;
    margin-top: 0px;
    margin-bottom: 40px;
  }


nav{
    background-color: black;
}

nav ul{
    list-style: none;
    margin: 3;
    padding: 20px 30px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    font-size: 0.8em;
    display: inline;
    padding: 20px 30px;
    text-decoration: none;
}
nav li a:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}

h2{
    font-size: 2em;
}

p{
    line-height: 1.8em;
}
#main-container{
    background-color: white;
    margin: 0 auto;

    min-width: 375px;
    width: 1280px;
}
#main-section{
    width: 1280px;
}


#main-section, aside{
    display: inline-block;
    vertical-align: top;
}
#main-section{
    padding: 20px;
    box-sizing: border-box;
    width: 900px;
}
aside{
    box-sizing: border-box;
    padding: 20px;
    width: 375px;
}

aside .related{
    margin: 0 auto;
}

article{
    font-size: 1.1em;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 480px){
   
}
@media screen and (max-width: 360px){

}
@media screen and (max-width: 767px){
    
}
@media screen and (max-width: 600px){
   
}

@media screen and (max-width: 400px){
}

